<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Home
    </ion-title>
    <ion-item class="checkbox-wrapper">
        <!--ion-checkbox class="checkbox" [(ngModel)]="is3DChecked" (click)="toggle3DMaps()"></ion-checkbox-->
        <ion-label class="text" (click)="enable3DMaps()">3D</ion-label>
      </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #mapElement2d style="width: 100%; height: 100%" id="mapContainer" *ngIf="!is3DChecked"></div>
  <div #mapElement3d style="width: 100%; height: 100%" id="mapContainer" *ngIf="is3DChecked"></div>
  <!--div #mapElement style="width: 100%; height: 100%" id="mapContainer"></div-->
</ion-content>

<ion-footer>
  <div class="bike-list-container">
    <ion-icon class="bike-list-expander" name="arrow-dropup-circle" (click)="expandBikeList()"></ion-icon>
    <div class="bike-container" *ngFor="let i of tempArr">
      <div class="bike-name">
        Bike 1
      </div>
      <div class="battery-info">
        <div><ion-icon class="battery-icon" name="battery-charging"></ion-icon></div>
        <div>100%</div>
      </div>
      <div class="address-info">
        <div class="disance">56m</div>
        <div class="address">Schllingstrasse 129</div>
      </div>
    </div>
  </div>
</ion-footer>
