<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      My Ride
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item *ngIf="!isBikeHired">
      <ion-input type="text" [(ngModel)]="Destination" placeholder="Enter Destination"></ion-input>
    </ion-item>
    <ion-item *ngIf="isBikeHired">
      <ion-input type="text" [(ngModel)]="Destination" placeholder="Ongoing Trip" readonly></ion-input>
    </ion-item>
  </div>
  <div #mapElement style="width: 100%; height: 100%" id="mapContainer"></div>
</ion-content>
<ion-footer>
  <div class="bike-details-container">
    <div class="inner">
      <div class="button-container">
        <ion-grid>
          <ion-row>
            <ion-col>Bike Name</ion-col>
            <ion-col>{{bikeDetails.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Bike Location</ion-col>
            <ion-col>{{bikeDetails.address}}</ion-col>
          </ion-row>
          <ion-row *ngIf="!isBikeHired">
            <ion-col>
              <ion-button size="medium" expand="block" (click)="startTrip()">Start Trip</ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isBikeHired">
            <ion-col>
              <ion-button size="medium" expand="block" (click)="CancelTrip()">End Trip</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  
</ion-footer>